/***************************
|| General Styles
****************************/

html {
  box-sizing: border-box;

  /* CSS Custom Properties */
  --color-egshell: hsla(180, 50%, 97%, 1);
  --color-brown: hsla(309, 14%, 30%, 1);
  --color-grey: hsla(281, 8%, 62%, 1);
  --color-medium-brown: hsla(17, 19%, 53%, 1);
  --color-teal: hsla(192, 49%, 54%, 1);
  --color-light-brown: hsla(358, 18%, 65%, 1);
  --font-color: hsla(0, 1.4%, 27.8%, 1);
  --color-blueGrey: hsla(200, 10%, 96%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-purple: hsla(250, 50%, 50%);
  --color-pink: hsla(290, 70%, 70%, 1);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.card-footer > img {
  width: 100px;
}

/***************************
|| Typography
****************************/
html {
  font-size: 62.5%;
  font-family: Helvetica, Verdana, sans-serif;
}

/***************************
|| Utilities
****************************/

.debugging {
  border: 1px solid red;
}

.container {
  border: 1px solid black;
  display: flow-root;
  width: 1400px;
  margin: 3rem auto;
  padding: 10rem 0;
  background-color: var(--color-blueGrey);
}

.flex {
  display: flex;
}

/***************************
|| Cards
****************************/

.card {
  position: relative;
  width: calc((100% - 200px) / 3);
  height: 470px;
  border-radius: 1rem;
  margin-left: 50px;
  background-color: var(--color-white);
  box-shadow: 0 10px 10px -9px hsla(0, 0%, 0%, 0.1);
}

.card:first-of-type {
  float: left;
}

.card:nth-of-type(2),
.card:last-of-type {
  float: left;
}

.card-image {
  height: 20rem;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.card-body,
.card-footer {
  margin: 2rem;
}

.card-body {
  color: var(--font-color);
  font-size: 1.6rem;
}

.card-body span {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  padding: .3rem 1.1rem;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  background-color: var(--color-teal);
}

.card:nth-of-type(2) .card-body span {
  background-color: var(--color-purple);
}

.card:last-of-type .card-body span {
  background-color: var(--color-pink);
}

.card-body h1 {
  font-size: 1.9rem;
  margin-bottom: 1.6rem;
}

/*
 * Unitless number values are the preferred
 * way to set line-height.
 * The value assigned is the element's font
 * size multiplied by the given number. For
 * example, an element has a font-size of 1rem
 * (10px), a declaration of `line-height: 2;`
 * will create a 20px space between line boxes.
 */
.card-content {
  line-height: 1.4;
}

.card-footer {
  margin-top: 4rem;
  position: absolute;
  bottom: 0;
}

.author {
  display: flex;
}

.card .author-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 1rem;
  background-position: center;
}

.card:first-of-type .author-image {
  background-image: url("./assets/author1.jpg");
}

.card:nth-of-type(2) .author-image {
  background-image: url("./assets/author2.jpg");
}

.card:last-of-type .author-image {
  background-image: url("./assets/author3.jpeg");
}

.post-details div {
  color: var(--font-color);
}

.post-details div:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.post-details div:nth-child(2) {
  font-size: 1.2rem;
  margin-top: .5rem;
}